# Ignoriere alles
*
# Checke Ordner
!*/
# Explizite Verfolgung nur dieser Dateien
!README.md
!.gitignore

# Aufgabe 3
!Aufgabe3/main.c
!Aufgabe3/README.md

# Aufgabe 4
!Aufgabe4/main.c
!Aufgabe4/main.h

#Aufgabe5
!Aufgabe5/main.c
!Aufgabe5/main.h

#Aufgabe6
!Aufgabe6/main.c
!Aufgabe6/main.h

#Aufgabe7
!Aufgabe7/main.c
!Aufgabe7/main.h

#Aufgabe10
!Aufgabe10/main.c
!Aufgabe10/main.h

#Aufgabe11
!Aufgabe11/main.c
!Aufgabe11/main.h
!Aufgabe11/*/

#Aufgabe12
!Aufgabe12/main.c
!Aufgabe12/main.h
!Aufgabe12/state_machine.h