# Ignoriere alles
*
# Checke Ordner
!*/
# Explizite Verfolgung nur dieser Dateien
!README.md
!.gitignore

# Aufgabe 3
!Aufgabe3/main.c
!Aufgabe3/README.md

# Aufgabe 4
!Aufgabe4/main.c
!Aufgabe4/main.h

