# Ignoriere alles
*
# Checke Ordner
!*/
# Explizite Verfolgung nur dieser Dateien
!README.md
!.gitignore

# Aufgabe 3
!Aufgabe3/main.c
!Aufgabe3/README.md

# Aufgabe 4
!Aufgabe4/main.c
!Aufgabe4/main.h

#Aufgabe5
!Aufgabe5/main.c
!Aufgabe5/main.h

#Aufgabe6
!Aufgabe6/main.c
!Aufgabe6/main.h

#Aufgabe7
!Aufgabe7/main.c
!Aufgabe7/main.h

